/* Variantes:
primary
secondary
neutral
destructive

Estados:
default
hover
disabled */


.button--primary {
  background-color: var(--color-primary-500);
  color: white;
  border: 1px solid var(--color-primary-500);
}

.button--primary:hover {
  background-color: var(--color-primary-600);
  border-color: var(--color-primary-600);
}

.button--secondary {
  background-color: transparent;
  color: var(--color-primary-600);
  border: 1px solid var(--color-primary-500);
}

.button--secondary:hover {
  background-color: var(--color-primary-50);
  border-color: var(--color-primary-600);
}

.button--neutral {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-700);
  border: 1px solid var(--color-neutral-300);
}

.button--neutral:hover {
  background-color: var(--color-neutral-200);
}

.button--destructive {
  background-color: transparent;
  color: var(--color-red-600);
  border: 1px solid var(--color-red-500);
}

.button--destructive:hover {
  background-color: var(--color-red-50);
  color: var(--color-red-700);
  border-color: var(--color-red-600);
}

.button:disabled:not(.button--loading) {
  background-color: var(--color-neutral-200);
  color: var(--color-neutral-400);
  border-color: var(--color-neutral-200);
  cursor: not-allowed;
}

.button--loading {
  cursor: wait;
  opacity: 0.8;
}

.button-group {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}


.button {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-label-medium);
  line-height: var(--line-height-label-medium);
  font-weight: var(--font-weight-semibold);

  border-radius: var(--radius-8);
  padding: var(--spacing-8) var(--spacing-16);

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-8);
}

.button__spinner {
  width: 14px;
  height: 14px;

  border: 2px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;

  animation: button-spinner 0.7s linear infinite;
}

@keyframes button-spinner {
  to {
    transform: rotate(360deg);
  }
}