.search-no-results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-12);
  margin-top: var(--spacing-24);
}

.search-no-results h3 {
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: var(--font-weight-semibold);

  color: var(--color-neutral-900);
}

.search-no-results p {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  font-weight: var(--font-weight-regular);

  color: var(--color-neutral-500);
}