@import './tokens/colors.css';
@import './tokens/spacing.css';
@import './tokens/radius.css';
@import './tokens/typography.css';
@import './atoms/Button/Button.css';
@import './atoms/Input/Input.css';
@import './molecules/Textarea/Textarea.css';
@import './atoms/Status/Status.css';
@import './molecules/InputText/InputText.css';
@import './atoms/TimeSlot/TimeSlot.css';
@import './molecules/Select/Select.css';
@import './molecules/NavItem/NavItem.css';
@import './molecules/PetCard/PetCard.css';
@import './molecules/PageHeader/PageHeader.css';
@import './molecules/Calendar/Calendar.css';
@import './molecules/ActionMenu/ActionMenu.css';
@import './organisms/AppointmentRow/AppointmentRow.css';
@import './organisms/Form/Form.css';
@import './organisms/SearchResultOwner/SearchResultOwner.css';
@import './organisms/PatientHeader/PatientHeader.css';
@import './organisms/CardConsultation/CardConsultation.css';
@import './organisms/AppointmentList/AppointmentList.css';

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: var(--font-family-primary);
}

h2 {
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: 16px;
  line-height: 28px;
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-900);
}