.agenda-page {
    width: 100%;
}

.agenda-page__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: var(--spacing-32);

}


.agenda-page__appointment-header {
    display: grid;
    grid-template-columns: 80px 140px 200px 140px 156px 140px;
    column-gap: var(--spacing-24);
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-16);

    width: 100%;
    min-height: 46px;
    padding: 0 var(--spacing-24);
    box-sizing: border-box;

    background-color: #ffffff;
    border-radius: var(--radius-8);

    font-size: 12px;
    line-height: 16px;
    font-weight: var(--font-weight-regular);
    color: var(--color-neutral-600)
}

.agenda-page__appointment-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.agenda-page__search {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);

  margin-bottom: var(--spacing-24);
}

.agenda-page__search label {
  font-size: 12px;
  line-height: 16px;
  font-weight: var(--font-weight-medium);

  color: var(--color-neutral-700);
}