:root {

 /* Primary */
  --color-primary-50:  #eff8ff;
  --color-primary-100: #dceeff;
  --color-primary-200: #b9ddff;
  --color-primary-300: #83c5ff;
  --color-primary-400: #45a9f5;
  --color-primary-500: #148fe7;
  --color-primary-600: #0874c9;
  --color-primary-700: #075ca3;
  --color-primary-800: #0b4d85;
  --color-primary-900: #103f6d;

  /* Neutral */
  --color-neutral-50: #f8fafc;
  --color-neutral-100: #f1f5f9;
  --color-neutral-200: #e2e8f0;
  --color-neutral-300: #cbd5e1;
  --color-neutral-400: #94a3b8;
  --color-neutral-500: #64748b;
  --color-neutral-600: #475569;
  --color-neutral-700: #334155;
  --color-neutral-800: #1e293b;
  --color-neutral-900: #0f172a;

  /* Red */
--color-red-50: #fef2f2;
--color-red-100: #fee2e2;
--color-red-200: #fecaca;
--color-red-300: #fca5a5;
--color-red-400: #f87171;
--color-red-500: #ef4444;
--color-red-600: #dc2626;
--color-red-700: #b91c1c;
--color-red-800: #991b1b;
--color-red-900: #7f1d1d;

/* Accent */
--color-accent-50: #f0fdfa;
--color-accent-100: #ccfbf1;
--color-accent-200: #99f6e4;
--color-accent-300: #5eead4;
--color-accent-400: #2dd4bf;
--color-accent-500: #14b8a6;
--color-accent-600: #0d9488;
--color-accent-700: #0f766e;
--color-accent-800: #115e59;
--color-accent-900: #134e4a;

/* Success */
--color-success-50: #f0fdf4;
--color-success-100: #dcfce7;
--color-success-200: #bbf7d0;
--color-success-300: #86efac;
--color-success-400: #4ade80;
--color-success-500: #22c55e;
--color-success-600: #16a34a;
--color-success-700: #15803d;
--color-success-800: #166534;
--color-success-900: #14532d;
}
