.time-slot {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 38px;
  padding: 8px 12px;

  border: 1px solid;
  border-radius: 8px;

  font-family: var(--font-family-primary);
  font-size: 14px;
  line-height: 20px;

  cursor: pointer;
}

.time-slot--available {
  background-color: #ffffff;
  border-color: var(--color-neutral-300);
  color: var(--color-neutral-700);
}

.time-slot--selected {
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-500);
  color: #ffffff;
}

.time-slot:disabled {
  background-color: var(--color-neutral-100);
  border-color: var(--color-neutral-300);
  color: var(--color-neutral-400);
  cursor: not-allowed;
}

.time-slot-test {
    display: flex;
    align-items: center;
    justify-content: space-around;
}